title: And Other Withered Stumps Of Time
description: "A math blog."
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate-v2
  - jekyll-archives

exclude:
  - README.md
  - posts_rawmd
  - inline.py
  - deploy-gh-pages.sh

jekyll-archives:
  enabled:
    - month
    - year
  layout: archive
  permalinks:
    month: '/:year/:month/'
    year: '/:year/'

# GitHub Pages settings
github:
  is_project_page: false

# Permalinks
permalink: pretty

markdown: kramdown
kramdown:
  math_engine: mathjax
  math_engine_opts:
    preview: false